body{
  background-image: url(./Images/background.jpg);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

body div{
 margin: 0 auto;

}

.results{
  position: static;
  width: 1000px;
  background-color: blue;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  word-wrap: break-word;
}

.form-box {
  position: static;
  width: 1000px;
  background-color: red;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
}

.form-box .userInput{
  padding: 10px;
}

.form-box .button{
  padding-left: 26px;
  padding-bottom: 26px;
}

.form-box .submit{
  margin-left:30px;
}


